.right{
  flex:1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.recommendedVideos{
  flex: 0.8;
  justify-content: flex-end;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
}
.recommendedVideos > h2{
  margin-left: 5px;
  margin-bottom: 20px;
}
.videos{
  display: flex;
  flex-wrap: wrap;
}
